@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: 'SBAggroB';
}
body{
    background-repeat : no-repeat;
    background-size : cover;
}
h2{
    font-family: 'GmarketSansMedium';
}
start {
    text-decoration-line: none;
  }
  start:link {
    color : white;
  }
  start:visited {
    color : white;
  }
  start:hover {
    color : white;
  }
  start:active {
    color : white;
  }