<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재귀함수가 너무 어려워!!</title>
    <style>
        img { display:block; margin:auto;}

        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1> Welcome to recursion analyzing site </h1>
</body>
<p>
    <A href = "https://chungyon.github.io/JNU/templates/howtouse"> What can I do here? </A>
</p>
<body>
    
        <a href="https://chungyon.github.io/JNU/templates/test"><img src=
            "https://i.ibb.co/qWkVc03/fibonaccibutton4.png" width="25%" height="25%"/></a>

        <a href="https://chungyon.github.io/JNU/templates/test"><img src=
            "https://i.ibb.co/QmJJLKX/factorialbutton1.png" width="25%" height="25%"/></a>
</body>
</html>
