<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재귀함수가 너무 어려워!!</title>
    <style>
        img { display:block; margin:auto;}
            body{
            text-align: center;
            background-image:url('{{url_for('static', filename='image/main_background.png')}}');
            }
        #title {
            margin:10px 10px 10px 10px; /* 위쪽 오른쪽 아래쪽 왼쪽 마진속성 한번에 주기 */
            pading:10px 10px 10px 10px
        }
    </style>
</head>
<all>
  <body>
    <h1>
    <font color="#FFFFFF"<div id="title"><p style="font-size:75px;margin: 0px 0px 0px 0px;color=#FFFFFF;">J&nbsp;&nbsp;N&nbsp;&nbsp;U</p></div>
    <font size=5><p style="margin:0px 0px 0px 0px";>재귀함수&nbsp;&nbsp;&nbsp;&nbsp;너무&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;어려워!!</font></br></p>
</font>
</br></h1>
    <h2>
        <br/>
    <font color="#FFFFFF" size=4><p >재귀함수가 어떻게 동작하는지 모르시겠나요?</p>
    <p >왜 이런 결과가 나오는지 그 과정을 이해하고 싶으신가요?</p>
    <br/>
    <p >JNU는 재귀함수가 동작하는 과정을 트리로 시각화합니다.</p>
    <p >프로그램을 배우는 과정을 더 쉽게 하고자 개발했습니다.</p></font>
    </h2>

</body>
<body>
    <br/>
    
    <start>
        <a href = "{{ url_for('test') }}"> 시작하기 </a>
    </start>
        <!--<img src="{{ url_for('static', filename='image/main_background.png') }}">-->
</body>
</all>
</html>
